* {
    padding: 0;
    MARGIN: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", "Lato", "Sans-serif";
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.logo {
    width: 150px;
    height: 35px;
}

body {
    background-color: #252B2D;
}

.jumbotron {
    /*background-color: #587179;*/
}

.trend {
    color: #fff;
}

.imageCard {
    width: 192.5px;
    height: 270px;
    border-radius: 3px;
}

.movies {
    color: #fff;
}

.footer {
    color: #fff;
}

.light {
    border-top-color: #B8C4CC;
}

.lead {
    font-weight: bold;
}

footer {
    background-color: #2A3133;
}

hr.light {
    border-top: 1px solid #d5d5d5;
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    
    .carousel-caption h1 {
        font-size: 350%;
    }
    
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        text-shadow: 1px 1px 10px #000;
        padding-bottom: .2rem;
    }

    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 30%;
    }
    
    .carousel-caption h1 {
        font-size: 200%;
    }
    
    .carousel-caption h3 {
        font-size: 90%;
    }

    .carousel-caption .btn {
        font-size: 70%;
        padding: 4px 8px;
    }
}